.custom.mat-card{
  margin: 10px;
  padding: 0;
  width: 100vw;
 }

 .mat-card-content {
 	padding: 10px
 }

 .mat-raised-button {
 	padding: .4em;
 	width: 100%;
 	font-size: 1.4em
 }

 .mat-form-field {
 	width: 35vw
 }
 textarea[disabled] {
 	color: #000
 }